$font-color: #262626;
$font1: 'Raleway', sans-serif;
$font2: 'Pacifico', cursive;
$font-color: #262626;
$bg-about: #00c4c4;
$bg-services: #70bfff;
$bg-gallery: #ffe92f;
$bg-blog: #b07cf7;
$bg-footer: #262626;
$input-color: #00c4c4;
