@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Raleway:wght@300;700;900&display=swap");
body {
  font-family: "Raleway", sans-serif;
  color: #262626;
}

.wrapper {
  margin: 0 auto;
  max-width: 1500px;
}

.container {
  margin: 0 auto;
  max-width: 1170px;
}
.container__services {
  padding-left: 100px;
  display: flex;
}
.container__gallery {
  padding: 100px 0 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container__subscribe {
  padding: 145px 0 163px;
}
.container__blog {
  padding: 100px 0 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container__contact {
  padding: 100px 0 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro {
  background: url(../img/bg-1.png) no-repeat center/cover;
}
.intro__body {
  max-width: 370px;
}
.intro__title {
  font-size: 60px;
  font-weight: 900;
  margin-bottom: 30px;
}
.intro__subtitle {
  margin-bottom: 30px;
}
.intro__button {
  background-color: #ff6033;
  margin-bottom: 295px;
}
.intro__logo {
  font-size: 50px;
}

.button {
  display: inline-block;
  padding: 0 25px;
  height: 55px;
}
.button a {
  line-height: 55px;
  font-size: 20px;
  font-weight: 300;
  color: #ffffff;
  text-transform: uppercase;
}

.scroll {
  display: flex;
  justify-content: center;
  padding-bottom: 70px;
}

.row {
  display: flex;
  justify-content: space-between;
  padding: 32px 0;
  align-items: center;
}

.header {
  margin-bottom: 220px;
}

.logo {
  font-family: "Pacifico", cursive;
}

.menu {
  display: flex;
}
.menu__item {
  text-transform: uppercase;
  margin-right: 35px;
  padding-top: 9px;
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__item:hover {
  border-top: 3px solid #ff6033;
}
.menu__item a {
  color: #262626;
  font-weight: 700;
}

.title {
  font-size: 90px;
  font-weight: 700;
}

.subtitle {
  font-size: 17px;
  font-weight: 300;
  line-height: 27px;
}

.about {
  background-color: #00c4c4;
}
.about__image {
  flex: 0 0 566px;
  margin-left: 10px;
}
.about__image img {
  width: 566px;
  height: 559px;
}
.about__body {
  padding-top: 70px;
  display: flex;
  justify-content: space-between;
}
.about__content {
  max-width: 500px;
  padding-top: 110px;
}
.about__title {
  color: #ffffff;
  margin-bottom: 15px;
}
.about__subtitle {
  color: #ffffff;
}
.about__subtitle p {
  margin-bottom: 10px;
}
.about__subtitle p:last-child {
  margin-bottom: 0;
}

.services {
  background: #70bfff;
}
.services__content {
  padding: 179px 0 151px;
  margin-right: 130px;
  width: 400px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  row-gap: 20px;
}
.services__label {
  display: flex;
  align-items: center;
  background: url(../img/bg-3.png) no-repeat center;
}
.services__title {
  color: #ffffff;
  margin: -10px;
}

.item {
  display: grid;
  grid-template-columns: 1fr 100px;
  grid-template-rows: 100px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
}
.item__logo {
  border-left: 1px solid #9d9d9d;
}
.item__logo_first {
  background: url(../img/item__icon-1.png) no-repeat center;
}
.item__logo_second {
  background: url(../img/item__icon-2.png) no-repeat center;
}
.item__logo_third {
  background: url(../img/item__icon-3.png) no-repeat center;
}
.item__logo_fourth {
  background: url(../img/item__icon-4.png) no-repeat center;
}
.item__name {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  align-self: center;
}

.gallery {
  background: #ffe92f;
}
.gallery__head {
  width: 577px;
  text-align: center;
}
.gallery__title {
  margin-bottom: 25px;
}
.gallery__subtitle {
  margin-bottom: 38px;
}
.gallery__body {
  display: grid;
  max-width: 100%;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 275px 275px 400px;
  gap: 30px;
  margin-bottom: 50px;
}
.gallery__photo img {
  width: 100%;
  height: 100%;
}
.gallery__photo_size_l {
  grid-column: span 4;
  grid-row: span 2;
}
.gallery__photo_size_m {
  grid-column: span 3;
}
.gallery__photo_size_s {
  grid-column: span 2;
}
.gallery__button {
  background-color: #5585a2;
}

.subscribe {
  background: url(../img/bg-4.png);
}
.subscribe__title {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 35px;
}
.subscribe__subtitle {
  max-width: 542px;
  margin-bottom: 30px;
}
.subscribe__input {
  width: 570px;
  height: 55px;
  border: 1px solid #262626;
  margin-right: 30px;
  padding: 15px;
}
.subscribe__button {
  background: #96b92c;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  color: #ffffff;
}

.blog {
  background: #b07cf7;
  color: #ffffff;
}
.blog__title {
  margin-bottom: 30px;
}
.blog__subtitle {
  text-align: center;
  max-width: 565px;
  margin-bottom: 40px;
}
.blog__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  grid-template-rows: 310px;
  margin-bottom: 50px;
}
.blog__button {
  background: #f72b3b;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 20px 23px;
}
.card_first {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0) 100%), url(../img/blog-1.png);
}
.card_second {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0) 100%), url(../img/blog-2.png);
}
.card_third {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0) 100%), url(../img/blog-3.png);
}
.card__date {
  border-radius: 5px;
  background-color: rgba(38, 38, 38, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60px;
  height: 60px;
}
.card__number {
  font-size: 32px;
  font-weight: 700;
}
.card__month {
  font-size: 21px;
  font-weight: 900;
}
.card__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  margin-bottom: 15px;
}

.contact {
  background: url(../img/bg-5.png) no-repeat;
  background-size: cover;
}
.contact__head {
  text-align: center;
  max-width: 346px;
}
.contact__title {
  margin-bottom: 48px;
}
.contact__subtitle {
  margin-bottom: 46px;
}
.contact__body {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.contact__form {
  width: 500px;
}
.contact__info {
  width: 500px;
  font-size: 17px;
  line-height: 23px;
}
.contact__info-item {
  margin-bottom: 14px;
}
.contact__info-title {
  text-transform: uppercase;
  font-weight: 700;
}
.form {
  display: flex;
  flex-direction: column;
}
.form__item {
  background: #00c4c4;
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  padding: 20px;
  margin-bottom: 15px;
  opacity: 0.5;
}
.form__item::-moz-placeholder {
  color: white;
  font-weight: 300;
}
.form__item::placeholder {
  color: white;
  font-weight: 300;
}
.form__item:last-child {
  margin-bottom: 0;
}
.form__item:focus {
  opacity: 1;
  border-left: solid 5px #355b82;
}

.footer {
  background: #262626;
  color: #b9b9b9;
}
.footer__copyright {
  font-size: 16px;
  font-weight: 300;
}
.footer__logo {
  font-size: 25px;
}
.footer__made-by {
  font-size: 15px;
  font-weight: 300;
}
.footer__made-by span {
  color: #ff2b58;
  font-weight: 700;
}/*# sourceMappingURL=main.css.map */